body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.container{
    width:400px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

h1{
    text-align:center;
}

.input-area{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px;
    cursor:pointer;
}

.filters{
    margin-top:15px;
    text-align:center;
}

.filters button{
    margin:5px;
}

ul{
    list-style:none;
    padding:0;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#eee;
    margin-top:10px;
    padding:10px;
    border-radius:5px;
}

.completed span{
    text-decoration:line-through;
    color:gray;
}

.actions button{
    margin-left:5px;
}